@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,

      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main{
  background:#C49E9E
}
h1{
  color: #0D0221
}
p{
  color:#0F084B
}
.bg-custom-1{
  background-color: #D9D9D9;
}
.bg-custom-2{
  background-color: #C2E7D9;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

